/* 
    မှတ်ချက် 
    External StyleSheet

*/
body 
{
    /* background: rgb(125, 156, 103); */

    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

img 
{
    width: 400px;
    height: auto;
}

/*
    အသေးစိတ် စာမျက်နှာ ၁ 
*/
.myCSSClass
{
    background: #fff; 
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

/*
    အသေးစိတ် စာမျက်နှာ ၂
*/
.myContainer
{
    width: 90%; 
    
    background: #fff;

    
}

#photoId
{
    color: blue; 
}

/* ဆက်သွယ်ရန် စာမျက်နှာ  */
.myForm
{
    width: 100%;
    background: aqua;

    padding-top: 10px;
    padding-bottom: 10px;

    border: 10px solid #f00; 
}

.myForm input, 
.myForm textarea, 
.myForm label
{
    display: block;
    width: 90%;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.myForm #userNameId 
{
    border-top: none;
    border-left: none;
    border-right: none;
    background: aqua;
}

.myForm label
{
    padding-bottom: 0;
    font-size : 16px ;
    font-weight: bold;
    font-style: italic;
}
 

/* =============================================================================
အစမ်း စာမျက်နှာ
================================================================================*/
.cssOverWritting
{
    background : #0f0 ; 
}

.cssOverWritting
{
    background : #f00 ; 
}

.blockStyle
{
    background: yellow; 
}

.inlineStyle 
{
    background: pink;
}

/*
.myContainer .cssOverWritting
{
    background : #00f ;
}
*/

